<tr class="demanda">

    <td>
        {{ demanda.cd }}
    </td>
    <td>
        {{ demanda.sku }}
    </td>
    <td>
        {{ demanda.pf }}
    </td>
    <td>
        {{ demanda.mes4 }}
    </td>
    <td>
        {{ demanda.mes3 }}
    </td>
    <td>
        {{ demanda.mes2 }}
    </td>
    <td>
        {{ demanda.mes1 }}
    </td>
    <td>
        {{ demanda.mes0 }}
    </td>
    <td>
        {{ demanda.vmp }}
    </td>
    <td>
        {{ demanda.estoqueLivre }}
    </td>
    <td>
        {{ demanda.estoqueQualidade }}
    </td>
    <td>
        {{ demanda.pendenciaTransito }}
    </td>
    <td>
        {{ demanda.pendenciaEntrega }}
    </td>
    <td>
        {{ demanda.estoqueTotal }}
    </td>
    <td>
        {{ demanda.estoqueSegregado }}
    </td>
    <td>
        {{ demanda.familia }}
    </td>
    <td>
        {{ demanda.unidadeMedida }}
    </td>
    <td>
        {{ demanda.distribuidor }}
    </td>

</tr>
