{% extends '../layouts/default.html' %}

{% block main %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}

{% if (demandas.length) %}

{% set columns = 18 %}
<table class="table table-bordered">
    {% for demanda in demandas %}
    {% if loop.first %}
    <thead>
    <tr class="demanda">
        <th>CD</th>
        <th>SKU</th>
        <th>PF</th>
        <th>M&#234;s -4</th>
        <th>M&#234;s -3</th>
        <th>M&#234;s -2</th>
        <th>M&#234;s -1</th>
        <th>M&#234;s Atual</th>
        <th>VMP</th>
        <th>Estoque Livre</th>
        <th>Estoque Qualidade</th>
        <th>Pend&#234;ncia Tr&#226;nsito</th>
        <th>Pend&#234;ncia Entrega</th>
        <th>Estoque Total</th>
        <th>Estoque Segregado</th>
        <th>Fam&#237;lia</th>
        <th>Unidade Medida</th>
        <th>Distribuidor</th>
    </tr>
    </thead>
    <tbody>
    {% endif %}
    {% include 'demanda.html' %}
    {% if loop.last %}
    </tbody>
    {% endif %}
    {% endfor %}
</table>

{% if (pages > 1) %}
<ul class="pagination">
    {% autoescape false %}
    {{ createPagination(pages, page) }}
    {% endautoescape %}
</ul>
{% endif %}

{% else %}
<h4 class="muted">
    No demandas.&nbsp;
    <a href="/demandas/new">create one</a>
</h4>
{% endif %}

{% include 'axure.html' %}

<script>
    var demandas = "{{ demandas }}";
    console.log(demandas);
</script>

{% endblock %}
