<div id="u443" class="ax_table" data-label="table">
    <div id="u444" class="ax_table_cell"><img id="u444_img" class="img " src="img/index/u444.png"/>

        <div id="u445" class="text"><p><span>TOTAL</span></p></div>
    </div>
    <div id="u446" class="ax_table_cell"><img id="u446_img" class="img " src="img/index/u446.png"/>

        <div id="u447" class="text"><p><span>1736033.1999999997</span></p></div>
    </div>
    <div id="u448" class="ax_table_cell"><img id="u448_img" class="img " src="img/index/u448.png"/>

        <div id="u449" class="text"><p><span>5472927</span></p></div>
    </div>
    <div id="u450" class="ax_table_cell"><img id="u450_img" class="img " src="img/index/u450.png"/>

        <div id="u451" class="text"><p><span>94.57642284721285</span></p></div>
    </div>
    <div id="u452" class="ax_table_cell"><img id="u452_img" class="img " src="img/index/u452.png"/>

        <div id="u453" class="text"><p><span>DISTRIBUIDOR</span></p></div>
    </div>
    <div id="u454" class="ax_table_cell"><img id="u454_img" class="img " src="img/index/u454.png"/>

        <div id="u455" class="text"><p><span>VENDA MÉDIA</span></p></div>
    </div>
    <div id="u456" class="ax_table_cell"><img id="u456_img" class="img " src="img/index/u454.png"/>

        <div id="u457" class="text"><p><span>ESTOQUE TOTAL</span></p></div>
    </div>
    <div id="u458" class="ax_table_cell"><img id="u458_img" class="img " src="img/index/u458.png"/>

        <div id="u459" class="text"><p><span>DIAS DE ESTOQUE</span></p></div>
    </div>
    <div id="u460" class="ax_table_cell"><img id="u460_img" class="img " src="img/index/u448.png"/>

        <div id="u461" class="text"><p><span>SANTA CRUZ</span></p></div>
    </div>
    <div id="u462" class="ax_table_cell"><img id="u462_img" class="img " src="img/index/u448.png"/>

        <div id="u463" class="text"><p><span>32360.00000000001</span></p></div>
    </div>
    <div id="u464" class="ax_table_cell"><img id="u464_img" class="img " src="img/index/u448.png"/>

        <div id="u465" class="text"><p><span>135620</span></p></div>
    </div>
    <div id="u466" class="ax_table_cell"><img id="u466_img" class="img " src="img/index/u448.png"/>

        <div id="u467" class="text"><p><span>274.81617647058823</span></p></div>
    </div>
    <div id="u468" class="ax_table_cell"><img id="u468_img" class="img " src="img/index/u448.png"/>

        <div id="u469" class="text"><p><span>SANTA CRUZ</span></p></div>
    </div>
    <div id="u470" class="ax_table_cell"><img id="u470_img" class="img " src="img/index/u448.png"/>

        <div id="u471" class="text"><p><span>32360.00000000001</span></p></div>
    </div>
    <div id="u472" class="ax_table_cell"><img id="u472_img" class="img " src="img/index/u448.png"/>

        <div id="u473" class="text"><p><span>135620</span></p></div>
    </div>
    <div id="u474" class="ax_table_cell"><img id="u474_img" class="img " src="img/index/u448.png"/>

        <div id="u475" class="text"><p><span>274.81617647058823</span></p></div>
    </div>
</div>